<div class="container">
    <div class="row">
        <div class="col-12">
            
            <div class="side-nav-m">
            <div style="margin-top: 70%; margin-left: 10%;"> 
            
                <div>
                    <a href="">
                        <div class="form-inline">
                            <img src="assets/browser.png" height="35vh"> 
                            <h2 class="ml-3 text-white font-main">Home</h2>
            
                        </div>
                    </a>
            
                </div>
                <div>
                    <a href="">
                        <div class="form-inline mt-4">
                            <img src="assets/album.png" height="35vh"> 
                            <h2 class="ml-3 text-white font-main" >Playlist</h2>
            
                        </div>
                    </a>
            
                </div>
                <div>
                    <a href="">
                        <div class="form-inline mt-4">
                            <img src="assets/playlist.png" height="35vh"> 
                            <h2 class="ml-3 text-white font-main">Videos</h2>
            
                        </div>
                    </a>
            
                </div>
            </div>
            </div>



        </div>
    </div>
</div>
